body {
  font-family: "Open Sans", sans-serif;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-legend {
  font-size: 0.8em;
}

.chart-legend li {
  list-style: none;
}

.chart-legend li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.button {
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  justify-content: center;
  box-shadow: 2px 5px 10px #e4e4e4;
  width: 300px;
}

.button:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}

.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-blue {
  color: #ffffff;
  background: #416dea;
}

svg {
  height: 400px !important;
}
