body {
  font-family: "Open Sans", sans-serif;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map {
  float: left;
  width: 90%;
  height: 100%;
}

#navbar {
  float: left;
  width: 10%;
  height: 100%;
}

#navbar > .button ~ .button {
  clear: left;
}
.button:hover {
  cursor: pointer;
}

.map-legend {
  font-size: 1.2em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.map-legend li {
  list-style: none;
}

.map-legend li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border: solid #333 0.5px;
}

.button {
  display: flex;
  overflow: hidden;
  padding: 12px 12px;
  margin: 5%;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  justify-content: center;
  box-shadow: 2px 5px 10px #e4e4e4;
  width: 95%;
}

.button:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}

.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.active {
  background: #ffffff;
}

.button.-blue {
  color: #ffffff;
  background: #416dea;
}
.leaflet-container {
  background-color: #c5e8ff;
}
